[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
scrapyd = "*"
scrapyd-client = "*"
disjoint-set = "*"
dagster = "*"
dagster-webserver = "*"

[dev-packages]

[requires]
python_version = "3.12"
